<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tractors</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    @{ 
        Layouts.ILayout utm_content = ViewData["utm_content"] as Layouts.ILayout;
    }

    <div class="page text-center">

        <header id="intro" class="page-header">

        <div class="rd-navbar-wrap" style=' @( @utm_content.disable_menu != null && @utm_content.disable_menu.Value ? "display: none" : "" )'>
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-fixed">
                <div class="rd-navbar-inner">

                    <div class="rd-navbar-panel">

                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>


                        <div class="rd-navbar-brand">

                                <span class="icon icon-md icon-primary icon-primary-variant-1">
                                    <img src=@utm_content.logo  alt="">
                                </span>

                        </div>

                    </div>

                    <div class="rd-navbar-nav-wrap">

                        <ul class="rd-navbar-nav">
                            <li>
                                <a href="#intro">
                                    <span>@Html.Raw(utm_content.menu[0])</span>
                                </a>
                            </li>
                            @if (utm_content.ToString() == "mototraktor_kupit_v2" ){
                                <li>
                                    <a href="#vidos">
                                        <span>@Html.Raw(utm_content.menu[2])</span>
                                    </a>
                                </li>
                            }

                            <li>
                                <a href="#information">
                                    <span>@Html.Raw(utm_content.menu[1])</span>
                                </a>
                            </li>

                            
                            @if (utm_content.ToString() == "mototraktor_kupit_v2" ){
                                <li>
                                    <a href="#models">
                                        <span>@Html.Raw(utm_content.menu[3])</span>
                                    </a>
                                </li>
                            }
                            @if (utm_content.ToString() == "pricep" ){
                                <li>
                                    <a href="#models">
                                        <span>@Html.Raw(utm_content.menu[2])</span>
                                    </a>
                                </li>
                            }
                            @if (utm_content.ToString() == "pochvofrez" ){
                                <li>
                                    <a href="#models">
                                        <span>@Html.Raw(utm_content.menu[2])</span>
                                    </a>
                                </li>
                            }
                            @if (utm_content.s3 == null ){
                                <li>
                                    <a href="#advantages">
                                        <span>@Html.Raw(utm_content.menu[3])</span>
                                    </a>
                                </li>
                            }
                            @* @if ((utm_content.ToString() == "mototraktor_kupit_vd" ||
                                    utm_content.ToString() == "mototraktor_kupit_vd-ua" ||
                                    utm_content.ToString() == "mototraktor_kupit_video" ||
                                    utm_content.ToString() == "mototraktor_kupit_v2") && utm_content.video != null ){

                            } *@

                            <li>
                                <a href="#tractors">
                                    <span>@Html.Raw(utm_content.menu[4])</span>
                                </a>
                            </li>
                            <li>
                                <a href="#contacts">
                                    <span>@Html.Raw(utm_content.menu[5])</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>

        @if (utm_content.ToString() == "mototraktor_kupit_vd" ){
            <section id="video" style="height: 70%; width: 100%">
                <div class="relative-block" style="position: relative;">
                    <div class="video-block" style="display: block;">
                        <video playsinline autoplay muted loop width="100%" id="video1" style="display: inline-block;">
                            <source src="https://tdtz.in.ua/video/minitracktor.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </section>
        }

        <section class="well-xl1 bg-image bg-fixed position__relative" style="background-image: url(@utm_content.s1_background);">

            <div class="container">

                <div class="row row-md-justify text-lg-left">
                    <div class="col-md-2">
                        <address class="contact-info">
                            <div class="box">
                                <div class="box__cnt">
                                    <span class="free-phone ringo-del"><a href="callto:#"><span class="ringo-phone"><span class="oper">+38&nbsp</span><div class="code-wrap"><span class="ks"><img src="images/ks.png" alt="" width="20">(068)</span><span class="vd"><img src="images/vd.png" alt="" width="20">(050)</span><span class="lc"><img src="images/lc.png" alt="" width="20">(073)</span></div><span class="reshta">@Html.Raw(utm_content.phone[0])</span></span></a></span>
                                    <span class="free-phone ringo-del"><a href="callto:#"><span class="ringo-phone">
                                </div>
                                <a href="#recall-dialog" title="Кнопка Мы перезвоним" class="we-call-back popup-with-zoom-anim">@Html.Raw(utm_content.recall_dialog)</a>
                            </div>
                        </address>
                    </div>
                    <div class="col-md-preffix-1 col-md-3 col-lg-2">

                        <div class="rd-navbar-brand">

                                <span class="icon icon-md icon-primary icon-primary-variant-2">
                                    <img src="@utm_content.logo"  alt="">
                                </span>

                        </div>

                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                @if (utm_content.first_form != null ){
                    @Html.Raw("<div class='row'><div class='col-xs-12 col-sm-12 col-md-7 col-lg-7 text-left form-first-col'>");
                }
                    <h1 style="<?= isset($s1_h1_style) ? $s1_h1_style : '';?>">
                        @Html.Raw(utm_content.s1_h1)
                    </h1>
                @if (utm_content.this1_credit != null ){
                    <div class="but-text">@utm_content.but_text_credit</div>
                    <div class="this">
                        <div class="this1"> <img src="images/star.png"  alt=""> @utm_content.this1_credit[0]</div>
                        <div class="this2"> <img src="images/star.png"  alt=""> @utm_content.this1_credit[1]</div>
                        <div class="this3"> <img src="images/star.png"  alt=""> @utm_content.this1_credit[2]</div>
                    </div>
                }
                @if (!String.IsNullOrEmpty(utm_content.but_text)){
                    <div class="but-text">@utm_content.but_text</div>  
                }
                @if (utm_content.this1.Count > 1){ // TODO: was 'if array'
                    <div class="this">
                        <div class="this1"> <img src="images/star.png"  alt="">@utm_content.this1[0]</div>
                        <div class="this2"> <img src="images/star.png"  alt="">@utm_content.this1[1]</div>
                        <div class="this3"> <img src="images/star.png"  alt="">@utm_content.this1[2]</div>
                    </div>
                    
                }
                else if ( utm_content.this1[0] == "запч" || utm_content.this1[0] == "запч_кред") { 
                        <div class="container">
                            <div class="row kredit-box">
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/foton.png">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/2.png">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/dfm.png">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/1.png">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/dw.png">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/3.png">
                                </div>
                            </div>

                            <div class="row kredit-box2">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center " >
                                    <div>Jinma (Mahindra)</div>
                                    <div>YTO</div>
                                    <div>Xingtai</div>
                                    <div>FengShou</div>
                                    <div>Luzhong</div>
                                    <div>Changlin Deutz-Fahr</div>
                                    <div>ДТЗ</div>
                                    <div>Forte</div>
                                </div>
                            </div>
                        </div>
                }
                else if ( utm_content.this1[0] == "запч2" || utm_content.this1[0] == "запч_кред2") { 
                        <div class="row kredit-box">
                            <div class="container">
                                <div class="row logotm-box1">

                                    <?if(isset($ukr)):?>
                                        <h1><span class="mini-t">Оригінальні запчастини для мотоблоків</span></h1>
                                    <?else:?>
                                        <h1><span class="mini-t"> ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ ДЛЯ МОТОБЛОКОВ</span></h1>
                                    <?endif;?>

                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/15-kentavr.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/16-zubr.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/17-forte.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/18-gardenScout.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/WEIMA.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/neva.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/sadko.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/salut.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/zirka.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                }
                else if ( utm_content.this1[0] == "запч3" || utm_content.this1[0] == "запч_кред3") { 
                        <div class="row kredit-box">
                            <div class="container">
                                <div class="row logotm-box2">

                                    <?if(isset($ukr)):?>
                                        <h1><span class="mini-t">Оригінальні запчастини для</span></h1>
                                    <?else:?>
                                        <h1><span class="mini-t">ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ К МИНИТРАКТОРАМ</span></h1>
                                    <?endif;?>

                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/1-foton.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/10-chery.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/11-shifeng-group.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/12-belarus.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/13-iseki.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/14-kioti.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/2-dfam.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/3-jinma.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/4-YTO.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/5-dtz.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/6-bulat.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/7-xingtai.png">
                                    </div>
                                    <div class="logotm-item2 item-l">
                                        <img src="images/zapchasti_minitraktor/logo/8-deutzFahr.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img src="images/zapchasti_minitraktor/logo/9-dw.png">
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    @if ( utm_content.this1[0] == "кред" || utm_content.this1[0] == "запч_кред" || utm_content.this1[0] == "запч_кред2" || utm_content.this1[0] == "запч_кред3") { 
                    
                        @if( utm_content.but_text_kred != null ) { 
                            <div class="but-text">@utm_content.but_text_kred</div>
                        }
                        <div class="this">
                            <a href="#order-dialog" class="btn btn-md btn-primary bt-line bt1 popup-with-zoom-anim" style="" >
                                @Html.Raw(utm_content.s1_bt1)
                            </a>
                            @{ 
                                // TODO: rebuild
                                    string onClickCacl = @"if (typeof(kreditmarket_popup_win)!='undefined') kreditmarket_popup_win.close(); kreditmarket_popup_win=window.open('https://agents.kreditmarket.ua/partners/_general/v01/?uid=ho2q467358049410&product_id=<?=$product_id?>&product_name=<?=$product_name?>&product_price=<?=str_replace(' ' ,'',$price)?>&product_url=<?=$_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']?>', 'gener','width=780,height=360,top='+((screen.height-360)/2)+',left='+((screen.width-780)/2)+',toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no')";
                            }
                            <a class="btn btn-md btn-primary bt-line bt-credit" href="javascript:void(0)" type="button" onclick=@onClickCacl>
                                <span>
                                    РАССЧИТАТЬ <br>
                                    <span>самостоятельно</span>
                                </span>
                                <img src="images/calc.png"  alt="">
                            </a>
                        </div>

                    }
                    else {
                        <a href="#order-dialog" class="btn btn-md btn-primary bt1 popup-with-zoom-anim" style=' @( utm_content.this1[0] == "кред" ? "font-weight: 300;padding: 12px 28px 10px;" : "" )' >
                            @utm_content.s1_bt1
                        </a>
                    }

                @if( utm_content.first_form != null ) { 
                    @Html.Raw("</div>");
                }
                @if( utm_content.first_form != null ) { 
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-left form-first-col">
                        <div class='@utm_content.first_form["class"]' style='background-image: url(@utm_content.first_form["background"]);'>
                            @Html.Raw(utm_content.first_form["body"])
                            @Html.Raw(utm_content.first_form["form"])
                        </div>
                    </div>
                    
                }
                @if( utm_content.first_form != null ) { 
                    @Html.Raw("</div>");
                }

            </div>
        </section>

    </header>

    <main role="main" class="page-content" style='@(@utm_content.disable_main != null && @utm_content.disable_main.Value ? "display: none" : "" )'>
        @RenderBody()
    </main>

</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.maskedinput.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.lazy.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.lazy.youtube.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
