<!DOCTYPE html>
<html lang="en">
@{ 
    Layouts.ILayout utm_content = ViewData["utm_content"] as Layouts.ILayout;
    string pattern = @"<(.|\n)*?>";
    string title = System.Text.RegularExpressions.Regex.Replace(utm_content.s1_h1, pattern, string.Empty).ToUpper();
}
<head>

    <title>@title</title>
    <meta charset="utf-8">
    <meta name="keywords" content="@utm_content.keywords" />
    <meta name="description" content="@utm_content.description" />
    <meta http-equiv="author" content="MEXICANO.COM.UA" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.min.css" />
    
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '199092117418858');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=199092117418858&ev=PageView&noscript=1"
    /></noscript>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87176753-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(53885887, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/53885887" style="position:absolute; left:-9999px;" alt="" /></div></noscript>


    <div class="page text-center">

        <header id="intro" class="page-header">

        <div class="rd-navbar-wrap" style=' @( @utm_content.disable_menu != null && @utm_content.disable_menu.Value ? "display: none" : "" )'>
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-fixed">
                <div class="rd-navbar-inner">

                    <div class="rd-navbar-panel">

                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>


                        <div class="rd-navbar-brand">

                                <span class="icon icon-md icon-primary icon-primary-variant-1">
                                    <img src='@utm_content.logo'  alt="">
                                </span>

                        </div>

                    </div>

                    <div class="rd-navbar-nav-wrap">

                        <ul class="rd-navbar-nav">
                            <li>
                                <a href="#intro">
                                    <span>@Html.Raw(utm_content.menu[0])</span>
                                </a>
                            </li>
                            @if (utm_content.ToString() == "mototraktor_kupit_v2" ){
                                <li>
                                    <a href="#vidos">
                                        <span>@Html.Raw(utm_content.menu[2])</span>
                                    </a>
                                </li>
                            }

                            <li>
                                <a href="#information">
                                    <span>@Html.Raw(utm_content.menu[1])</span>
                                </a>
                            </li>

                            
                            @if (utm_content.ToString() == "mototraktor_kupit_v2" ){
                                <li>
                                    <a href="#models">
                                        <span>@Html.Raw(utm_content.menu[3])</span>
                                    </a>
                                </li>
                            }
                            @if (utm_content.ToString() == "pricep" ){
                                <li>
                                    <a href="#models">
                                        <span>@Html.Raw(utm_content.menu[2])</span>
                                    </a>
                                </li>
                            }
                            @if (utm_content.ToString() == "pochvofrez" ){
                                <li>
                                    <a href="#models">
                                        <span>@Html.Raw(utm_content.menu[2])</span>
                                    </a>
                                </li>
                            }
                            @if (utm_content.s3 == null ){
                                <li>
                                    <a href="#advantages">
                                        <span>@Html.Raw(utm_content.menu[3])</span>
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="#tractors">
                                    <span>@Html.Raw(utm_content.menu[4])</span>
                                </a>
                            </li>
                            <li>
                                <a href="#contacts">
                                    <span>@Html.Raw(utm_content.menu[5])</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>

        @if (utm_content.ToString() == "mototraktor_kupit_vd" ){
            <section id="video" style="height: 70%; width: 100%">
                <div class="relative-block" style="position: relative;">
                    <div class="video-block" style="display: block;">
                        <video playsinline autoplay muted loop width="100%" id="video1" style="display: inline-block;">
                            <source src="https://tdtz.in.ua/video/minitracktor.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </section>
        }

        <section class="lazy well-xl1 bg-image bg-fixed position__relative" data-src="@utm_content.s1_background">

            <div class="container">

                <div class="row row-md-justify text-lg-left">
                    <div class="col-md-2">
                        <address class="contact-info">
                            <div class="box">
                                <div class="box__cnt">
                                    <span class="free-phone ringo-del"><a href="callto:#"><span class="ringo-phone"><span class="oper">+38&nbsp</span><div class="code-wrap"><span class="ks"><img src="images/ks.png" alt="" width="20">(068)</span><span class="vd"><img src="images/vd.png" alt="" width="20">(050)</span><span class="lc"><img src="images/lc.png" alt="" width="20">(073)</span></div><span class="reshta">@Html.Raw(utm_content.phone[0])</span></span></a></span>
                                    <span class="free-phone ringo-del"><a href="callto:#"><span class="ringo-phone">
                                </div>
                                <a href="#recall-dialog" title="Кнопка Мы перезвоним" class="we-call-back popup-with-zoom-anim">@Html.Raw(utm_content.recall_dialog)</a>
                            </div>
                        </address>
                    </div>
                    <div class="col-md-preffix-1 col-md-3 col-lg-2">

                        <div class="rd-navbar-brand">

                                <span class="icon icon-md icon-primary icon-primary-variant-2">
                                    <img src="@utm_content.logo"  alt="">
                                </span>

                        </div>

                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                @if (utm_content.first_form != null ){
                    @Html.Raw("<div class='row'><div class='col-xs-12 col-sm-12 col-md-7 col-lg-7 text-left form-first-col'>");
                }
                    
                    <h1 style='@utm_content.s1_h1_style != null ? @utm_content.s1_h1_style : ""'>
                        @Html.Raw(utm_content.s1_h1)
                    </h1>
                @if (utm_content.this1_credit != null ){
                    <div class="but-text">@utm_content.but_text_credit</div>
                    <div class="this">
                        <div class="this1"> <img src="images/star.png"  alt=""> @utm_content.this1_credit[0]</div>
                        <div class="this2"> <img src="images/star.png"  alt=""> @utm_content.this1_credit[1]</div>
                        <div class="this3"> <img src="images/star.png"  alt=""> @utm_content.this1_credit[2]</div>
                    </div>
                }
                @if (!String.IsNullOrEmpty(utm_content.but_text)){
                    <div class="but-text">@utm_content.but_text</div>  
                }
                @if (utm_content.this1.Count > 1){ // TODO: was 'if array'
                    <div class="this">
                        <div class="this1"> <img src="images/star.png"  alt="">@utm_content.this1[0]</div>
                        <div class="this2"> <img src="images/star.png"  alt="">@utm_content.this1[1]</div>
                        <div class="this3"> <img src="images/star.png"  alt="">@utm_content.this1[2]</div>
                    </div>
                    
                }
                else if ( utm_content.this1[0] == "запч" || utm_content.this1[0] == "запч_кред") { 
                        <div class="container">
                            <div class="row kredit-box">
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/foton.png">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/2.png">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/dfm.png">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/1.png">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/dw.png">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center " >
                                    <img src="images/tm-logo/3.png">
                                </div>
                            </div>

                            <div class="row kredit-box2">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center " >
                                    <div>Jinma (Mahindra)</div>
                                    <div>YTO</div>
                                    <div>Xingtai</div>
                                    <div>FengShou</div>
                                    <div>Luzhong</div>
                                    <div>Changlin Deutz-Fahr</div>
                                    <div>ДТЗ</div>
                                    <div>Forte</div>
                                </div>
                            </div>
                        </div>
                }
                else if ( utm_content.this1[0] == "запч2" || utm_content.this1[0] == "запч_кред2") { 
                        <div class="row kredit-box">
                            <div class="container">
                                <div class="row logotm-box1">

                                    @if(utm_content.ukr != null && utm_content.ukr.Value) { 
                                        <h1><span class="mini-t">Оригінальні запчастини для мотоблоків</span></h1>
                                    } else {
                                        <h1><span class="mini-t"> ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ ДЛЯ МОТОБЛОКОВ</span></h1>
                                    }

                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/15-kentavr.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/16-zubr.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/17-forte.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/18-gardenScout.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/WEIMA.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/neva.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/sadko.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/salut.png">
                                    </div>
                                    <div class="logotm-item1">
                                        <img src="images/zapchasti_motoblok/logo/zirka.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                }
                else if ( utm_content.this1[0] == "запч3" || utm_content.this1[0] == "запч_кред3") { 
                        <div class="row kredit-box">
                            <div class="container">
                                <div class="row logotm-box2">

                                    @if(utm_content.ukr != null && utm_content.ukr.Value) {
                                        <h1><span class="mini-t">Оригінальні запчастини для</span></h1>
                                    } else {
                                        <h1><span class="mini-t">ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ К МИНИТРАКТОРАМ</span></h1>
                                    }

                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/1-foton.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/10-chery.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/11-shifeng-group.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/12-belarus.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/13-iseki.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/14-kioti.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/2-dfam.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/3-jinma.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/4-YTO.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/5-dtz.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/6-bulat.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/7-xingtai.png">
                                    </div>
                                    <div class="logotm-item2 item-l">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/8-deutzFahr.png">
                                    </div>
                                    <div class="logotm-item2">
                                        <img class="lazy" src="images/zapchasti_minitraktor/logo/9-dw.png">
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    @if ( utm_content.this1[0] == "кред" || utm_content.this1[0] == "запч_кред" || utm_content.this1[0] == "запч_кред2" || utm_content.this1[0] == "запч_кред3") { 
                    
                        @if( utm_content.but_text_kred != null ) { 
                            <div class="but-text">@utm_content.but_text_kred</div>
                        }
                        <div class="this">
                            <a href="#order-dialog" class="btn btn-md btn-primary bt-line bt1 popup-with-zoom-anim" style="" >
                                @Html.Raw(utm_content.s1_bt1)
                            </a>
                            @{ 
                                // TODO: rebuild
                                    string onClickCacl = "";//@"if (typeof(kreditmarket_popup_win)!='undefined') kreditmarket_popup_win.close(); kreditmarket_popup_win=window.open('https://agents.kreditmarket.ua/partners/_general/v01/?uid=ho2q467358049410&product_id=<?=$product_id?>&product_name=<?=$product_name?>&product_price=<?=str_replace(' ' ,'',$price)?>&product_url=<?=$_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']', 'gener','width=780,height=360,top='+((screen.height-360)/2)+',left='+((screen.width-780)/2)+',toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no')";
                            }
                            <a class="btn btn-md btn-primary bt-line bt-credit" href="javascript:void(0)" type="button" onclick='@onClickCacl'>
                                <span>
                                    РАССЧИТАТЬ <br>
                                    <span>самостоятельно</span>
                                </span>
                                <img src="images/calc.png"  alt="">
                            </a>
                        </div>

                    }
                    else {
                        <a href="#order-dialog" class="btn btn-md btn-primary bt1 popup-with-zoom-anim" style=' @( utm_content.this1[0] == "кред" ? "font-weight: 300;padding: 12px 28px 10px;" : "" )' >
                            @utm_content.s1_bt1
                        </a>
                    }

                @if( utm_content.first_form != null ) { 
                    @Html.Raw("</div>");
                }
                @if( utm_content.first_form != null ) { 
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-left form-first-col">
                        <div class='@utm_content.first_form["class"]' style='background-image: url(@utm_content.first_form["background"]);'>
                            @Html.Raw(utm_content.first_form["body"])
                            @Html.Raw(utm_content.first_form["form"])
                        </div>
                    </div>
                    
                }
                @if( utm_content.first_form != null ) { 
                    @Html.Raw("</div>");
                }

            </div>
        </section>

    </header>

    <main role="main" class="page-content" style='@(@utm_content.disable_main != null && @utm_content.disable_main.Value ? "display: none" : "" )'>
        @RenderBody()
    </main>

    
    <footer id="contacts" class="page-footer text-sm-left" style=' @utm_content.disable_footer != null && @utm_content.disable_footer) ? "display: none" : "" '>

        <section class="lazy well-xl5 bg-image bg-fixed bg-image-7" data-src='@utm_content.s5_background'>
            <div class="container wow bounceInRight" data-wow-delay="0.2s">
                <h3 class="contact-title"> @Html.Raw(@utm_content.footer_h1) <hr></h3>
                <div class="row offset-2">
                    <div class="col-sm-7 col-md-8">

                        <div class="rd-google-map inset-2">
                            <div id="google-map" class="rd-google-map__model" data-loader="google-map"></div>
                            <div class="google-map" data-lat="35.7090711" data-lng="139.7321219"></div>
                            <ul class="rd-google-map__locations">
                                <li data-x='@utm_content.map[0]' data-y='@utm_content.map[1]' data-basic="images/gmap_marker.png" data-active="images/gmap_marker_active.png">
                                    <p>@Html.Raw(@utm_content.loc)</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-sm-5 col-md-4">
                        <address class="contact-info">

                            <div class="box">
                                <div class="address-line address-ico">
                                    <img class="lazy" data-src="../images/phone-ico.png">
                                </div>
                                <div class="address-line address-line-text">
                                    <div class="box__cnt">
            <span class="free-phone ringo-del"><a href="callto:#"><span class="ringo-phone"><span class="oper">+38&nbsp</span><div class="code-wrap"><span class="ks"><img src="images/ks.png" alt="" width="20">(068)</span><span class="vd"><img src="images/vd.png" alt="" width="20">(050)</span><span class="lc"><img src="images/lc.png" alt="" width="20">(073)</span></div><span class="reshta">@Html.Raw(utm_content.phone[0])</span></span></a></span>
        </div>
                                    <a href="#recall-dialog" class="we-call-back popup-with-zoom-anim">@Html.Raw(utm_content.recall_dialog)</a>
                                </div>
                            </div>

                            

                            <div class="box address-email">
                                <div class="address-line address-ico">
                                    <img class="lazy" data-src="../images/email-ico.png">
                                </div>
                                <div class="address-line address-text-email">
                                    <div>@Html.Raw(utm_content.email)</div>
                                </div>
                            </div>

                            <div class="box address-loc">
                                <div class="address-line address-ico">
                                <img class="lazy" data-src="../images/mark-ico.png">
                                </div>
                                <div class="address-line address-text-loc">
                                    <div>@Html.Raw(utm_content.loc)</div>
                                </div>
                            </div>

                        </address>
                        </div>
                    </div>
                </div>

            <div class="copyright">

            <br>
            © Copyright 2017
            </div>

            </section>
        </footer>
    </div>



                        <a href="#recall-dialog-close-page" id="rdcp" class="we-call-back popup-with-zoom-anim" style="display:block; position:absolute; top:-1000px;"></a>
                        <div id="recall-dialog-close-page" class="ppup popup1 zoom-anim-dialog mfp-hide " >
                            <form name="sentMessage" id="contactForm" novalidate="">
                                <h1 style="margin-top: 0px;"> @Html.Raw(utm_content.popup1_header)</h1>
                                  <ol>

                                    @if( utm_content.popup1_form_short != null && !utm_content.popup1_form_short.Value) {
                                        <li class="form-group">
                                          <input id="name" name="name" type="text" placeholder='@utm_content.popup1_form["placeholder1"]' required data-validation-required-message='@utm_content.popup1_form["required_message1"]'>
                                          <p class="help-block text-danger"></p>
                                        </li>
                                    }
                                    
                                    <li class="form-group">
                                      <input id="phone" name="phone" type="text" placeholder='@utm_content.popup1_form["placeholder2"]' required data-validation-required-message='@utm_content.popup1_form["required_message2"]'>
                                      <p class="help-block text-danger"></p>
                                    </li>

                                    @if( utm_content.popup1_form_short != null && !utm_content.popup1_form_short.Value) {
                                        <li>
                                          <input id="message" name="message" placeholder='@utm_content.popup1_form["placeholder3"]' type="text">
                                        </li>
                                    }

                                    <button class="btn btn-md btn-primary bt-popup" style="margin-top: 20px;">@Html.Raw(utm_content.popup1_form["button"])</button>
                                    <li>
                                  </ol>
                                <button title="Close (Esc)" type="button" class="mfp-close" ></button>
                            </form>
                        </div>


                        <div id="recall-dialog" class="ppup popup1 zoom-anim-dialog mfp-hide ">
                            <form name="sentMessage" id="contactForm" novalidate="">
                                <h1> @Html.Raw(utm_content.popup1_h1)</h1>
                                  <ol>
                                    @if( utm_content.popup1_form_short != null && !utm_content.popup1_form_short.Value) {
                                        <li class="form-group">
                                          <input id="name" name="name" type="text" placeholder='@utm_content.popup1_form["placeholder1"]' required data-validation-required-message='@utm_content.popup1_form["required_message1"]'>
                                          <p class="help-block text-danger"></p>
                                        </li>
                                    }

                                    <li class="form-group">
                                      <input id="phone" name="phone" type="text" placeholder='@utm_content.popup1_form["placeholder2"]' required data-validation-required-message='@utm_content.popup1_form["required_message2"]'>
                                      <p class="help-block text-danger"></p>
                                    </li>

                                    @if( utm_content.popup1_form_short != null && !utm_content.popup1_form_short.Value) {
                                        <li>
                                          <input id="message" name="message" placeholder='@utm_content.popup1_form["placeholder3"]' type="text">
                                        </li>
                                    }


                                    <button class="btn btn-md btn-primary bt-popup">@Html.Raw(utm_content.popup1_form["button"])</button>
                                    <li>
                                  </ol>
                                <button title="Close (Esc)" type="button" class="mfp-close"></button>
                            </form>
                        </div>

                        @if(utm_content.popup2_h1 != null) {
                            <div id="order-dialog" class="ppup popup2 zoom-anim-dialog mfp-hide ">
                                <form name="sentMessage" id="contactForm" novalidate="">
                                    <h1>@Html.Raw(utm_content.popup2_h1)</h1>
                                      <ol>
                                        <li class="form-group">
                                          <input id="name" name="name" type="text" placeholder='utm_content.popup2_form["placeholder1"]' required data-validation-required-message='utm_content.popup2_form["required_message1"]'>
                                          <p class="help-block text-danger"></p>
                                        </li>
                                        <li class="form-group">
                                          <input id="phone" name="phone" type="text" placeholder='utm_content.popup2_form["placeholder2"]' required data-validation-required-message='utm_content.popup2_form["required_message2"]'>
                                          <p class="help-block text-danger"></p>
                                        </li>
                                        <li>
                                          <input id="message" name="message" placeholder='utm_content.popup2_form["placeholder3"]' type="text">
                                        </li>
                                        <button class="btn btn-md btn-primary bt-popup">@Html.Raw(utm_content.popup2_form["button"])</button>
                                        <li>
                                      </ol>
                                    <button title="Close (Esc)" type="button" class="mfp-close"></button>
                                </form>
                            </div>
                        } else {
                            <div id="order-dialog" class="ppup popup3 zoom-anim-dialog mfp-hide ">
                                <form name="sentMessage" id="contactForm" novalidate="">
                                    <h1>@Html.Raw(utm_content.popup3_h1)</h1>
                                      <ol>
                                        <li class="form-group">
                                          <input id="name" name="name" type="text" placeholder='utm_content.popup3_form["placeholder1"]' required data-validation-required-message='utm_content.popup3_form["required_message1"]'>
                                          <p class="help-block text-danger"></p>
                                        </li>
                                        <li class="form-group">
                                          <input id="phone" name="phone" type="text" placeholder='utm_content.popup3_form["placeholder2"]' required data-validation-required-message='utm_content.popup3_form["required_message2"]'>
                                          <p class="help-block text-danger"></p>
                                        </li>
                                        <li>
                                          <input id="model" name="model" placeholder='utm_content.popup3_form["placeholder3"]' type="text">
                                        </li>
                                        <li>
                                          <input id="date" name="date" placeholder='utm_content.popup3_form["placeholder4"]' type="text">
                                        </li>
                                        <li>
                                          <input id="power" name="power" placeholder='utm_content.popup3_form["placeholder5"]' type="text">
                                        </li>
                                        <li>
                                          <input id="status" name="status" placeholder='utm_content.popup3_form["placeholder6"]' type="text">
                                        </li>
                                        <li>
                                          <input id="file" name="file" placeholder='utm_content.popup3_form["placeholder7"]' type="file">
                                        </li>
                                        <button class="btn btn-md btn-primary bt-popup">@Html.Raw(utm_content.popup3_form["button"])</button>
                                        <li>
                                      </ol>
                                    <button title="Close (Esc)" type="button" class="mfp-close"></button>
                                </form>
                            </div>
                        }


    <script>
        window.message_thanks = '@utm_content.message_thanks';
    </script>

</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.maskedinput.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.lazy.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.lazy.youtube.min.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxJQm8PEqQMJ5GOMaMNjwUKAda7a1kfgQ">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
