@page
@model IndexModel
@{
    ViewData["utm_content"] = Model.utm_content;
    Layouts.ILayout utm_content = Model.utm_content;
}

@if( utm_content.advantages_block != null ) { 
    @Html.Raw(utm_content.advantages_block);
}

@{
    string informationStyle = "";
    if(@utm_content.s2_this_bu != null)
    {
        informationStyle += "padding-top: 2.3rem; padding-bottom: 2.4rem;";
    }
}
<section id="information" 
        class="lazy well-xl text-sm-left bg-image bg-fixed bg-image-2"
        data-src="@utm_content.s2_background"
        style='@informationStyle'>
    <div class="container">

        @if( utm_content.s2_this_bu_title != null ) { 
            <h1 class="s2_this_bu_title">@Html.Raw(utm_content.s2_this_bu_title)</h1>
        }

        <div class="row">

            @if( utm_content.s2_this_bu != null ) {

                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center s2_this_bu wow bounceInLeft" data-wow-delay="0.5s">
                        <img src="images/minitraktor_bu/bu_s1.png">
                        @Html.Raw(utm_content.s2_this_bu[0])
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center s2_this_bu wow bounceInLeft" data-wow-delay="0.2s">
                        <img src="images/minitraktor_bu/bu_s2.png">
                        @Html.Raw(utm_content.s2_this_bu[1])
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center s2_this_bu wow bounceInRight" data-wow-delay="0.2s">
                        <img src="images/minitraktor_bu/bu_s3.png">
                        @Html.Raw(utm_content.s2_this_bu[2])
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center s2_this_bu wow bounceInRight" data-wow-delay="0.5s">
                        <img src="images/minitraktor_bu/bu_s4.png">
                        @Html.Raw(utm_content.s2_this_bu[3])
                    </div>

                    <div class="s2_this_but">
                        <a href="#recall-dialog" class="btn btn-md btn-primary bt2 popup-with-zoom-anim ">@Html.Raw(utm_content.s2_this_left_but)</a>
                    </div>
            }
            else {
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left wow bounceInLeft" data-wow-delay="0.5s">
                    <div class="s2-box-left">
                        <div class="s2-box-title">@Html.Raw(utm_content.s2_left_title)</div>
                        @foreach (var value in utm_content.s2_this_left)
                        {
                            <div class="this2" style='@utm_content.s2_left_this2_style'> <div class="this-line this-img"><img src="images/v.png"  alt=""></div> <div class="this-line this-text">@value</div> </div>
                        }
                        <div class="this_but">
                                <a href="#recall-dialog" class="btn btn-md btn-primary bt2 popup-with-zoom-anim ">@Html.Raw(utm_content.s2_this_left_but)</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left wow bounceInRight" data-wow-delay="1s">
                    <div class="s2-box-right" style='@utm_content.s2_right_style'>
                        <div class="s2-box-title">@Html.Raw(utm_content.s2_right_title)</div>
                        @foreach (var value in utm_content.s2_this_right)
                        {
                            <div class="this2" style='@utm_content.s2_right_this2_style'> <div class="this-line this-img"><img src="images/x.png"  alt=""></div> <div class="this-line this-text">@value</div> </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@if (utm_content.ToString() == "mototraktor_kupit" ||
        utm_content.ToString() == "mototraktor_lviv" ||                         
        utm_content.ToString() == "mototraktor_ukr" ||                                                  
        utm_content.ToString() == "mototraktor_lutsk" ||                                                  
        utm_content.ToString() == "mototraktor_dostavka" ||                                                                           
        utm_content.ToString() == "mototraktor_kredit" ||
        utm_content.ToString() == "mototraktor_kupit_v2") {
    <section id="models" class="lazy well-xl3 bg-image bg-fixed bg-image-3" data-src="images/models.jpg" style="padding-top: 30px!important; padding-bottom: 30px!important;">
        <div class="container">

            <div class="row" style="margin-top: 0!important;">
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/mototr/tr3.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>160 МАСТЕР</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/mototr/tr4.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>180 МАСТЕР</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <style type="text/css">
            @@media screen and (max-width: 410px){
                #models a{
                    width: 100%;
                    margin:5px 0 25px!important;
                }
                .info-tr-wrap{
                    text-align: center;
                }
            }
        </style>
    </section>
}
@if(utm_content.ToString() == "minitraktor_kupit" ||
        utm_content.ToString() == "minitraktor_kredit" ||
        utm_content.ToString() == "minitraktor_dostavka" ||  
        utm_content.ToString() == "minitraktor_lviv") {
    <section id="models" class="lazy well-xl3 bg-image bg-fixed bg-image-3" data-src="images/models.jpg" style="padding-top: 30px!important; padding-bottom: 30px!important;">
        <div class="container">
            <div class="row">
                <div class="row" style="margin-top: 0!important;">
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/minitr/tr5.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>160-МАСТЕР</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/minitr/tr6.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>180-МАСТЕР</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
            </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/tr1.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>240B</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/tr2.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>244</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 0!important;">
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/tr3.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>EUROFENG </b><span style="color: #4DA712;"><b>244</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/tr4.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>EUROFENG </b><span style="color: #4DA712;"><b>404</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
            </div>                            
        </div>
        <style type="text/css">
            @@media screen and (max-width: 410px){
                #models a{
                    width: 100%;
                    margin:5px 0 25px!important;
                }
                .info-tr-wrap{
                    text-align: center;
                }
            }
        </style>
    </section>
}
@if(utm_content.ToString() == "pricep" ||
        utm_content.ToString() == "pricep_kupit"){
    <section id="models" class="lazy well-xl3 bg-image bg-fixed bg-image-3" data-src="images/models.jpg" style="padding-top: 30px!important; padding-bottom: 30px!important;">
        <div class="container">
            <div class="row">
                <div class="row" style="margin-top: 0!important;">
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pricep/minitrak.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>Прицеп для </b><span style="color: #4DA712;"><b>МИНИТРАТКОРА</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pricep/motoblock.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>Прицеп для </b><span style="color: #4DA712;"><b>МОТОБЛОКА</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                </div>
            </div>          
        </div>
        <style type="text/css">
            @@media screen and (max-width: 410px){
                #models a{
                    width: 100%;
                    margin:5px 0 25px!important;
                }
                .info-tr-wrap{
                    text-align: center;
                }
            }
        </style>
    </section>
}
@if(    utm_content.ToString() == "pochvofreza" ||
        utm_content.ToString() == "pochvofreza_kupit"){
    <section id="models" class="well-xl3 bg-image bg-fixed bg-image-3" data-src="images/models.jpg" style="padding-top: 30px!important; padding-bottom: 30px!important;">
        <div class="container">
            <div class="row">
                <div class="row" style="margin-top: 0!important;">
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-120.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>120</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-140.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>140</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
            </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-80k.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>80К</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-110k.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>110К</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 0!important;">
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-125k.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>125К</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-140k.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>140К</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 0!important;">
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-150k.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>150К</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-160k.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>160К</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 0!important;">
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-180k.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>180К</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-200k.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>200К</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 0!important;">
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-220k.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>220К</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 25px;">
                    <img class="lazy" data-src="images/pochvofrez/dmtz-240k.jpg" alt="" style="width: 100%;">
                    <div class="info-tr-wrap" style="margin-top: 25px;"> 
                        <span style="float: left; font-size: 20px; font-weight: 700;"><b>ДМТЗ </b><span style="color: #4DA712;"><b>240К</b></span></span>
                        <a style="background: #63D200; color: white; float: right; padding: 4px 60px; border-radius: 6px;" class="popup-with-zoom-anim" href="#recall-dialog">Подробнее</a>
                    </div>
                </div>
            </div>                                                        
        </div>
        <style type="text/css">
            @@media screen and (max-width: 410px){
                #models a{
                    width: 100%;
                    margin:5px 0 25px!important;
                }
                .info-tr-wrap{
                    text-align: center;
                }
            }
        </style>
    </section>
}
    @if(utm_content.s3 == null ) {
    <section id="advantages" class="lazy well-xl3 bg-image bg-fixed bg-image-3" data-src='@utm_content.s3_background'>
        <div class="container">
            <h1 class="h1s3 wow pulse" data-wow-delay="0.5s">
                @Html.Raw(utm_content.s3_h1)
            </h1>
        </div>
        <div class="green-line">

            <form name="sentMessage" id="contactForm" novalidate="">
                <div class="container">
                    <div class="row">


                        <div class="col-lg-2 col-md-2 col"></div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 text-center form-group wow bounceInUp center" data-wow-delay="1.1s">
                            <input type="text" class="form-control" id="phone" placeholder='@utm_content.s3_form["placeholder2"]' name="phone" required data-validation-required-message='@utm_content.s3_form["required_message2"]'>
                            <p class="help-block text-danger"></p>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center wow bounceInUp center" data-wow-delay="1.3s">
                            <button class="calcul" ><span>@Html.Raw(@utm_content.s3_form["button"])</span></button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </section>
    }


@if(!(  utm_content.ToString() == "mototraktor_kupit_vd" || 
        utm_content.ToString() == "mototraktor_kupit_v2" ||
        utm_content.ToString() == "mototraktor_dostavka_v2" ||
        utm_content.ToString() == "mototraktor_kupit_vd-ua" || 
        utm_content.ToString() == "mototraktor_kredit_v2" ||
        utm_content.ToString() == "mototraktor_lviv_v2" ||
        utm_content.ToString() == "mototraktor_kupit_video") 
        && utm_content.video != null) {

<script>


        $(document).ready(function() {
            $(window).scroll(function(e){
        
                var pos1=$("#video1").offset().top-300;
        
                var scrollTop = window.pageYOffset ? window.pageYOffset : (document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop);
        
                if (scrollTop>=pos1 && $( window ).width() > 500){
                    $(".play-video-btn").click();
                    document.getElementById('video1').volume=0;
                }
            });
            
            
            $('.play-video-btn').on('click', function(event){
                event.preventDefault();
                var self = $(this);
                self.fadeOut('slow');
                self.siblings('.video-block').fadeIn('slow', function(){
                    var myVideo = document.getElementById("video1"); 
                    myVideo.play();
                });
            });
        });
    
</script>

}

<section id="tractors" class="lazy well-xl4 bg-image bg-fixed bg-image-4" data-src="@utm_content.s4_background">
    <div class="container">
        <div class="row wow zoomIn animated" data-wow-delay="0.5s">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h1 class="text-right-vert">
                    <div>
                        <span>@Html.Raw(utm_content.s4_title) <hr>
                    </div>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner vert-line">

                    <div class="item fade active">
                        <div class="col-md-6 wow" id="">
                            <div class="iback">
                                <img class="lazy" data-src="images/1.jpg" class="img-responsive img-centered" alt="">
                            </div>
                            <div class="fback">
                                <div class="client-name">@Html.Raw(utm_content.fback["name1"])</div>
                                <div class="client-comment">@Html.Raw(utm_content.fback["comment1"])</div>
                            </div>
                        </div>

                        <div class="col-md-6 wow" id="">
                            <div class="iback">
                                <img class="lazy" data-src="images/2.jpg" class="img-responsive img-centered" alt="">
                            </div>
                            <div class="fback">
                                <div class="client-name">@Html.Raw(utm_content.fback["name2"])</div>
                                <div class="client-comment">@Html.Raw(utm_content.fback["comment2"])</div>
                            </div>
                        </div>

                        <div class="col-md-6" id="">
                            <div class="iback">
                                <img class="lazy" data-src="images/4.jpg" class="img-responsive img-centered" alt="">
                            </div>
                            <div class="fback">
                                <div class="client-name">@Html.Raw(utm_content.fback["name3"])</div>
                                <div class="client-comment">@Html.Raw(utm_content.fback["comment3"])</div>
                            </div>
                        </div>
                    </div>

                    <div class="item fade">

                        <div class="col-md-6" id="">
                            <div class="iback">
                                <img class="lazy" data-src="images/3.jpg" class="img-responsive img-centered" alt="">
                            </div>
                            <div class="fback">
                                <div class="client-name">@Html.Raw(utm_content.fback["name4"])</div>
                                <div class="client-comment">@Html.Raw(utm_content.fback["comment4"])</div>
                            </div>
                        </div>

                        <div class="col-md-6" id="">
                            <div class="iback">
                                <img class="lazy" data-src="images/6.jpg" class="img-responsive img-centered" alt="">
                            </div>
                            <div class="fback">
                                <div class="client-name">@Html.Raw(utm_content.fback["name5"])</div>
                                <div class="client-comment">@Html.Raw(utm_content.fback["comment5"])</div>
                            </div>
                        </div>

                        <div class="col-md-6" id="">
                            <div class="iback">
                                <img class="lazy" data-src="images/5.jpg" class="img-responsive img-centered" alt="">
                            </div>
                            <div class="fback">
                                <div class="client-name">@Html.Raw(utm_content.fback["name6"])</div>
                                <div class="client-comment">@Html.Raw(utm_content.fback["comment6"])</div>
                            </div>
                        </div>
                    </div>

                    </div>

                    <ol class="carousel-indicators">
                        <li class="carousel-indicator-dot active" onClick="showSlides(0)"></li>
                        <li class="carousel-indicator-dot" onClick="showSlides(1)"></li>
                    </ol>

                </div>
            </div>

        </div>
    </div> 
</section>



